body{
    text-align: center;
    position: relative;
    font-family: Montserrat;
}
.card {
    background:#4d375d;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    text-align: center;
}

/* .moon{ 
    width: 50px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 10px 10px 0 0 white;
    background-color: transparent;
    margin-top: -10px;
    
}
*/

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button{
    background: #8c69a5;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
}
#arrow{
    color:  #8c69a5;
    background:  white;
    /* float: left; */
    padding-left: 5px;
    border-radius: 50%;
    font-size: 18px;
    
}
.fa-arrow-left {
    padding: 0;
}
                            
.fa-moon-o {
    background-color: #4d375d;
    color: white;
    font-size: 50px;
    transform: rotate(200deg);
}

#message{
    text-align: center;
    font-weight: 550;
    padding-top: 0;
    line-height: 2;
}
#daynight{
    margin: 20px;
    background: white;
    color: #8c69a5;
    border:1px solid  #8c69a5;
    padding: 10px 100px 10px 100px;
}
.selected{
    border: 1px solid white;
}

#days {
    line-height: 3;
}
@media screen and (max-width: 600px) {
    #days {
        line-height: 4;
    }
  }

